services:
  ErdmannFreunde\ContaoGridBundle\GridClasses:
    public: true

  ErdmannFreunde\ContaoGridBundle\Controller\ContentElement\ColumnStartController: ~
  ErdmannFreunde\ContaoGridBundle\Controller\ContentElement\ColumnEndController: ~
  ErdmannFreunde\ContaoGridBundle\Controller\ContentElement\RowStartController:
    arguments: ['@ErdmannFreunde\ContaoGridBundle\GridClasses']
  ErdmannFreunde\ContaoGridBundle\Controller\ContentElement\RowEndController: ~

  ErdmannFreunde\ContaoGridBundle\EventListener\AddGridClassesToContentListener:
    arguments: [ '@request_stack', '@contao.routing.scope_matcher' ]

  ErdmannFreunde\ContaoGridBundle\EventListener\DataContainer\Content: ~

  ErdmannFreunde\ContaoGridBundle\EventListener\DataContainer\GridClassesOptionsListener:
    arguments: [ '@ErdmannFreunde\ContaoGridBundle\GridClasses' ]

  ErdmannFreunde\ContaoGridBundle\EventListener\DataContainer\RegisterFieldsInPaletteListener: ~

  ErdmannFreunde\ContaoGridBundle\EventListener\DataContainer\GridColsOptionsListener:
    arguments: [ '@ErdmannFreunde\ContaoGridBundle\GridClasses' ]

  ErdmannFreunde\ContaoGridBundle\EventListener\DataContainer\TranslatedLabelsListener: ~

  ErdmannFreunde\ContaoGridBundle\Migration\TstampMigration:
    arguments: [ '@database_connection' ]
    tags: [ 'contao.migration' ]
